@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
#hero{
    height: 730px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%),
    url(../assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    text-align: center;
}
.btn{
padding: 14px 22px 14px 22px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(82, 195, 3);
border: none;
}

#hero .hero-content{
    width: 468px;
}
#hero .hero-content .subtitle{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 468px;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.8;
    margin-bottom:100px ;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-bottom:15px ;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 22px;
}
#card-box{width: 1024px;
    margin: 120px auto;
}

#card-box .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 28px;
font-weight: 546;
line-height: 60px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 15px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
}
#card-box  .card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card .shop {
    background-color: aqua;
    padding: 9px 22px 9px 22px;
    border-radius: 8px;
background: rgba(82, 195, 3, 0.15);
}
.card .image-box img{
    width: 100%;
}

.card-four{
width: 1024px;
margin: 220px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
}
.border-section-container{

left: 0;
top: 0;

}
.border-section{width: 90%;
    display: flex;
    justify-content:center;
    /* border:2px solid crimson; */
    align-items: center;
    margin: 0px auto;
    margin-bottom: 150px;
}
.border-img img{
    width: 100%;
    /* border: 2px solid rebeccapurple; */
    
}
.border-text{
    width: 90%;
    /* border: 2px solid rgb(196, 5, 43); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.border-title{
    color: rgb(0, 0, 0);
font-family: Work Sans;
font-size: 35px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 18px;
}
.border-dis{
    color: rgb(0, 0, 0);
font-family: Work Sans;
font-size: 14px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
opacity: 0.6;
margin-bottom: 58px;
}
.border-follow{
    color: rgb(0, 0, 0);
font-family: Work Sans;
font-size: 22px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 10px;
}
.border-icon{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: rgb(215, 240, 70);
}
.social-container{
    height: 671px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/biriyani.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin:0 auto ;
   
}
.social-text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-title {
    color: rgb(3, 3, 3);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 25px;
}
.social-dis{
    color: rgb(3, 3, 3);
font-family: Work Sans;
font-size: 15px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 30px;
}
.social-follow {
    color: rgb(3, 3, 3);
font-family: Work Sans;
font-size: 18px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}